body{
    background-color:#fef200 ;
}
#clockcontainer{
    /* background-color: red; */
    /* position: relative; */
    height: 40vw;
    width: 40vw;
    margin: auto;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    border-radius: 50%;
    /* border: 1px solid red; */
}
#hour, #minute , #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 0.6vw;
    height: 7vw;
    top: 7.5vw;
    right: 50.3vw;
    opacity: 0.8;
    /* display: none; */
}
#minute{
    width: 0.4vw;
    height: 10vw;
    top: 5.5vw;
    right: 50vw;
    opacity: 0.8;
    /* display: none; */
}
#second{
    width: 0.1vw;
    height: 10vw;
    top: 5.5vw;
    right: 50vw;
    opacity: 0.8;
    /* display: none; */
    
}